.cusmain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.AllCuisines{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:21px;
    margin: 35px 45px;
    padding:15px;
}
.Cusi{
    font-family: Satoshi;
    background-repeat: no-repeat;
    width: 250px;
    height: 165px;
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 7px#000;
    transition: transform 0.32s ease-in-out;
}

.Cusi:hover{
   
    transform: scale(1.1);
}

.Cusi p{
    color:white;
    font-size: 27px;
    font-weight: 500;
    text-decoration: none;
}
.AllCuisines a {
    text-decoration: none;
   
    }

