
body{
    margin:0;
    padding:0;
}

main {
    background-image: url('https://media-cldnry.s-nbcnews.com/image/upload/newscms/2020_14/1554845/takeout-food-covid19-today-square-200403.jpg');
    background-repeat: no-repeat;
    background-size: fill;
    image-rendering: auto;
}
.Ricontainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding:15px;
}
.Ricontainer .formRs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 37%;
    padding:25px;
    border-radius: 17px;
    background-color: #fdfdf7;
}
.Ricontainer .formRs form{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}
.Ricontainer .formRs form input{
    width: 501px;
    height: 40px;
    padding:9px; 
    font-family: "Gilroy", "Helvetica", "Arial", "sans-serif";
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    border-style: hidden;

    border-radius: 8px;
    border: 1px solid rgb(184, 184, 184);
    cursor: text;

}
.Ricontainer .formRs form input::placeholder{
    color: rgb(149, 149, 149);
}
.Ricontainer .formRs form textarea{
    width: 501px;
    height: 85px;
    padding:9px;

    font-family: "Gilroy", "Helvetica", "Arial", "sans-serif";
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    border-style: hidden;
    border-radius: 8px;
    border: 1px solid rgb(184, 184, 184);
    cursor: text;
  
}
.Ricontainer .formRs form textarea:focus,.Ricontainer .formRs form input:focus,.Ricontainer .formRs form select:focus{
    outline:none;
}

.Ricontainer .formRs form button{
    align-self: center;
    outline: none;
    border-radius: 8px;
    background: #e55;
    border: none;
    border: medium none;
    font-family: "Gilroy", "Helvetica", "Arial", "sans-serif" !important;
    font-style: normal;
    line-height: 16px;
    font-weight: normal;
    cursor: pointer;
    font-size: 16px;
    height: 42px;
    color: rgb(255, 255, 255);
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
}

.Ricontainer .formRs form button:hover{
    background: #c83535;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}
.Ricontainer .formRs form label{

    font-size: 17px;
    line-height: 1.42857143;
}

.Ricontainer .formRs form select{
    width: 501px;
    height: 40px;
    padding:9px; 
    font-family: "Gilroy", "Helvetica", "Arial", "sans-serif";
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    border-style: hidden;

    border-radius: 8px;
    border: 1px solid rgb(184, 184, 184);
    cursor: text;

}

.Ricontainer .formRs form select option:hover{
    background-color: bisque;
}

.astext{
    margin-top: 205px;
    margin-right: 200px;
    width: 500px;
    color:rgb(34, 34, 34);
    font-size: 25px;
}

#headt{
    color:black;
    font-size: 55px;
    font-weight: 700;
}


